---
layout: default
nav-class: home
description: Hull Art Circle group of artists at all levels who meet regularly to work on portraits, still life, landscapes and life drawing.
keywords: hull art circle, art, painting, life drawing, Hull2017
bannerpic: exhibition-streetlife.png
bannerpicsmall: header1-small.jpg
bannerlink: /exhibitions/
bannerlinktitle: Hull Art Circle September 2018 Exhibition
nav-class: home
---

<!-- site intro -->

<div class="wrapper home">
<h1>{{ site.description }}</h1>

<div class="intro">
{% markdown home-intro.md %}
</div>

</div><!-- end wrapper -->

<a href="/meetings/" class="strip-link" title="More about our weekly studio meetings" />More about our weekly meetings &rarr;</a>

<section class="callouts cf">

<div class="wrapper">

<div class="callout callout-exhibition">
{% assign items = site.exhibitions | sort: 'date' %}
{% for exhibitionsactive in site.exhibitionsactive limit:1 %}
<h2>{{ exhibitionsactive.title }}</h2>
<p class="post-date">{{ exhibitionsactive.dates }}</p>
<p>{{ exhibitionsactive.summary }}</p>
{% endfor %}
<a class="read-more" href="/exhibitions/" title="Hull Art Circle exhibitions">Read more →</a>
</div>

<div class="callout programme">
{% markdown programme.md %}
</div>

</div><!-- end wrapper -->

</section>

<section class="callouts cf">

<div class="wrapper">

<div class="callout callout-news">
{% for post in site.posts limit:1 %}
<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h2>
<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
<p>{{ post.excerpt }}</p>
{% endfor %}
</div>

<div class="callout">
<h2>Model for us</h2>
<p>We’re always on the lookout for models to sit for us at our meetings. If you’re interested, please <a href="/contact/" title="Contact Hull Art Circle">get in touch.</a></p>
</div>

</div><!-- end wrapper -->

</section>