<header class="site-header">

<div class="wrapper">
	<nav class="site-nav">
		<a class="logo" href="{{ site.baseurl }}/" title="{{ site.title }} home page">
		<img class="hac-logo" src="/hac/hac-logo.svg" title="Hull Art Circle logo" />
		<span class="logo-text">Hull Art Circle</span></a>
		<ul>{% for page in site.pages %}{% if page.title %}{% unless page.exclude_from_nav %}
  			<li class="{{ page.nav-class }}"><a title="{{ page.title }}" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{% if page.navtitle %}{{ page.navtitle }}{% else %}{{ page.title }}{% endif %}</a></li>{% endunless %}{% endif %}{% endfor %}
		</ul>
	</nav>
</div>

</header>