/*------------------------------------*\
    #INTRO
\*------------------------------------*/

.intro {
	//max-width: 38rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	//text-align: justify;
	p {
		margin-bottom: 0.5rem;
		hyphens: auto;
	}
}

@media screen and (min-width: 34em) {
	.intro {
	-webkit-column-count: 2;
	-webkit-column-gap: 1.5rem;
	 -moz-column-count: 2;
    -moz-column-gap: 1.5rem;
	column-count: 2;
	column-gap: 1.5rem;
	}
}
