/*------------------------------------*\
    #CALLOUTS
\*------------------------------------*/

.callouts {
	background: $callout-bg1;
	clear: both;
	color: $callout-color;
	.post-date {font-size: 1rem;}
	.callout {
		padding-bottom: 1rem;
		a {color: $color-grey-light;}
		a:hover {color: lighten($color-grey-light, 10%);}
	}
}

.post-date {margin-bottom: 0rem;}
.post-date + p {margin-top: 0rem;}

.read-more {display: block; font-size: 0.8rem;}
@media only screen and (max-width: 40rem) {
	.callout:first-child {border-bottom: 1px solid #737d7d;}
}

@media only screen and (min-width: 40rem) {
  	.callout {
	width: 50%;
	float: left;
	border-bottom: none;
	}
	.callout:first-child {
	h2, p, ul {padding-right: 1rem;}
	}
}

.callouts:nth-child(2n) {
	background: $color-grey-light;
	color: $color-grey-dark;
	.callout {
		border-color: #cacdcd;
	}
	a {color: #808787;}
	a:hover {color: $color-main;}
}

.programme ul {
	list-style: none;
	margin-left: 0;padding-left: 0;
	li {margin-left: 0;padding-left: 0;}
	}

.callout-news, .callout-exhibition {
	h3 {
		margin-top: 0;
		margin-bottom: 0.2rem;
	}
}